@import "../general-sass/base";
@import "../general-sass/animations";

.header {
  display: flex;
  height: 8rem;
  border-bottom: 2px solid rgba($color-secondary-light, 0.3);
  align-items: center;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    padding: 0 3rem;
  }

  p {
    color: $color-black;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 0 currentColor;
    margin-right: 3rem;

    @media only screen and (max-width: $bp-smaller) {
      font-size: 3rem;
    }
  }

  nav {
    width: 60%;
    align-self: stretch;
    @media only screen and (min-width: $bp-smaller) {
      display: flex;
    }

    @media only screen and (max-width: $bp-smaller) {
      position: absolute;
      width: auto;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba($color-black, 0.3);
      z-index: 99;
      animation: showMenu 300ms ease-in;
      flex-direction: column;
    }
  }

  &__nav {
    display: flex;
    list-style-type: none;
    align-self: stretch;
    align-items: stretch;

    @media only screen and (max-width: $bp-smaller) {
      flex-direction: column;
      width: 50%;
      height: 100vh;
      z-index: 100;
      padding: 1rem 2rem;
      background-color: $color-white;
      animation: showMenu 500ms ease-in;
    }

    &_item {
      margin: 0 1rem;
      display: flex;
      cursor: pointer;
      font-size: 1.2rem;
      color: $color-secondary-dark;

      @media only screen and (max-width: $bp-smaller) {
        margin: 0;
        font-size: 1.5rem;
      }

      &:hover {
        border-bottom: 3px solid $color-primary;
      }
      a {
        text-decoration: none;
        color: currentColor;
        display: flex;
        align-items: center;
        height: 100%;

        @media only screen and (max-width: $bp-smaller) {
          width: 100%;
          padding: 1rem 0rem;
          font-weight: 700;
          color: $color-black;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 10%;
    justify-content: space-between;

    // @media only screen and (max-width: $bp-small) {
    //   width: 10%;
    // }

    @media only screen and (max-width: $bp-smaller) {
      width: 14%;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 18%;
    }
  }

  &__profilePic {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      border: 2px solid $color-primary;
    }
  }
}

.shopping-cart {
  height: 1.8rem;
  width: 1.8rem;
  fill: $color-secondary-light;
  cursor: pointer;
  @media only screen and(max-width: $bp-smallest) {
    height: 2.2rem;
    width: 2.2rem;
  }
}

.cart-box {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-amount {
  padding: 0.3rem;
  background-color: $color-primary;
  color: $color-white;
  position: absolute;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.5rem;
  right: -0.8rem;
}

img {
  max-width: 100%;
}

.bump {
  animation: bump 300ms ease-out;
  -webkit-animation: bump 300ms ease-out;
}

.icon-box {
  display: none;
  @media only screen and (max-width: $bp-smaller) {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
}

.icon-menu {
  height: 3rem;
  width: 3rem;
  fill: $color-black;
}

.display {
  display: flex;
}

.hide_display {
  @media only screen and (max-width: $bp-smaller) {
    display: none;
  }
}

.exit_icon {
  display: none;
  background-color: $color-white;
  @media only screen and (max-width: $bp-smaller) {
    display: flex;
    margin-bottom: 1rem;
  }
}

.icon-cross {
  width: 2.5rem;
  height: 2.5rem;
  fill: $color-secondary-dark;
}

.hide_menu {
  @media only screen and (max-width: $bp-smaller) {
    animation: hideMenu 500ms ease-in;
  }
}

.hide_nav {
  @media only screen and (max-width: $bp-smaller) {
    animation: hideMenu 500ms ease-in;
  }
}
.active_border {
  border-bottom: 3px solid $color-primary;
}
