@import "../general-sass/base";
@import "../general-sass/animations";

.animate {
  animation: openView 500ms linear;
  -webkit-animation: openView 500ms linear;
}

.moveLeft {
  animation: moveLeft 500ms ease-out;
  -webkit-animation: moveLeft 500ms ease-out;
}

.moveSlideRight {
  animation: moveSlideRight 500ms ease-out;
  -webkit-animation: moveSlideRight 500ms ease-out;
}

.left-icon,
.right-icon {
  height: 4rem;
  width: 4rem;
  fill: currentColor;
}
