@import "./components/general-sass/base";
@import "./components/general-sass/animations";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%; //1rem = 16px

  @media only screen and (max-width: $bp-humongous) {
    font-size: 87.5%; //1rem = 14px
  }

  @media only screen and (max-width: $bp-biggest) {
    font-size: 75%; //1rem = 12px
  }

  @media only screen and (max-width: $bp-bigger) {
    font-size: 68.75%; //1rem = 11px
  }

  @media only screen and (max-width: $bp-big) {
    font-size: 62.5%; //1rem = 10px
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; //1rem = 9px
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; //1rem = 8px
  }
}

body {
  font-family: $font-primary;
  font-weight: 400;
  margin: 0 10%;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    margin: 0;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: minmax(45%, 1fr) minmax(55%, 1fr);
  }
  @media only screen and (max-width: $bp-small) {
    padding: 0 3rem;
  }
  @media only screen and (max-width: $bp-smaller) {
    grid-template-columns: 100%;
  }

  @media only screen and(max-width: $bp-smallest) {
    padding: 0;
  }
}

.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 3rem;
  padding: 6rem;
  animation: moveUp 1s ease-in;
  -webkit-animation: moveUp 1s ease-in;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    padding: 3rem;
  }

  @media only screen and(max-width: $bp-smaller) {
    align-items: center;
    justify-content: center;
  }

  @media only screen and(max-width: $bp-smallest) {
    padding: 0;
  }

  &__big {
    margin-bottom: 3rem;
    border-radius: 1.5rem;
    cursor: pointer;
    overflow: hidden;

    @media only screen and(max-width: $bp-smaller) {
      width: 90%;
    }
    @media only screen and(max-width: $bp-smallest) {
      width: 100%;
      height: 40rem;
      margin-top: 0;
      border-radius: 0;
    }
  }
  &__small {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media only screen and (max-width: $bp-smaller) {
      justify-content: center;
    }
  }
}
.left,
.right {
  position: absolute;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: $color-white;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $color-black;
  z-index: 60;

  @media only screen and (max-width: $bp-smaller) {
    display: flex;
    background-color: rgba($color-primary, 0.3);
  }

  @media only screen and(max-width: $bp-smallest) {
    background-color: $color-white;
  }

  &:hover {
    color: $color-primary;
  }
}

.left {
  top: 45%;
  left: -1.5rem;

  @media only screen and(max-width: $bp-smallest) {
    left: 2rem;
  }
}

.right {
  top: 45%;
  right: -1.5rem;

  @media only screen and(max-width: $bp-smallest) {
    right: 2rem;
  }
}
