@import "../../general-sass/base";

input[type="number"] {
  outline: none;
  border: none;
  width: 5rem;
  text-align: center;
  background-color: $color-secondary-lighter;
  font-weight: 400;
}

.button {
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
  color: $color-primary;
  padding: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-primary-2;
  }

  &__minus,
  &__plus {
    height: 1.6rem;
    width: 1.6rem;
    fill: currentColor;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  display: none;
}
